


<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom
">
<div class="footer-botom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4><i class="fa-light fa-user-graduate">Style</i></h4>
        <div class="copyright-text">
          
          <p class="text-white text-center" ><i style="margin: auto 5px;  ;" class="fa-thin fa-desktop"></i>Realizado por el ingeniero MIGUEL ÁNGEL SARDO SUÁREZ</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
</nav>

<i class="fa-thin fa-desktop"></i>